@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 50px;
  padding: 15px;
  border-radius: .25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  letter-spacing: 1px;
  background-color: #0F172A;
  font-family: "Suez One", serif;
  color: #eee;
}

button:hover {
  cursor: pointer;
  background-color: #1E293B;
}

button:active {
  background-color: #94A3B8;
}

.inputContainer {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.inputContainer input {
  width: 200px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #eee;
  outline: none;
  overflow: auto;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
}

.submitBtns {
  min-width: 60px;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  width: 600px;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .container {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-columns: 80px 80px 80px;
      grid-template-columns: 80px 80px 80px;
  -ms-grid-rows: 80px 80px 80px;
      grid-template-rows: 80px 80px 80px;
}

.wrapper .container .square {
  width: 80px;
  height: 80px;
  border: 1px solid #1f1400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .container .square:hover {
  background-color: rgba(0, 0, 0, 0.596);
}

.X {
  background-color: #991B1B;
  color: #94A3B8;
}

.O {
  background-color: #1E40AF;
  color: #94A3B8;
}

.displayNames {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Dosis", sans-serif;
}

.displayNames .p1Display {
  color: #991B1B;
}

.displayNames .p2Display {
  color: #1E40AF;
}
