@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
$primary-Color: #0F172A;
$secondary-Color: #1E293B;
$third-Color:#94A3B8;
$button-font: 'Suez One', serif;
$main-font: 'Dosis', sans-serif;
$classic-red: #991B1B;
$classic-blue: #1E40AF;
:root {
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: 0;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  appearance: none;
  height: 50px;
  padding: 15px;
  border-radius: .25em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 1px;
  background-color: $primary-Color;
  font-family: $button-font;
  color: #eee;

  &:hover{
    cursor: pointer;
    background-color: $secondary-Color;
  }
  &:active{
    background-color: $third-Color;
  }
}
.inputContainer {

  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
  input {
    width: 200px;
    appearance: none;
    border: 2px solid #eee;
    outline: none;
    overflow: auto;
    text-align: center;
    font-family: $main-font;
    font-size: 30px;
  }

}
.submitBtns {
  min-width: 60px;
  text-align: center;
  justify-self: center;
}

.wrapper {
  display: grid;
  width: 600px;
  gap: 60px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  box-sizing: border-box;

  .container {
    border: 1px solid black;
    display: grid;
    width: fit-content;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    .square {
      width: 80px;
      height: 80px;
      border: 1px solid rgb(31, 20, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    .square:hover {
      background-color: rgba(0, 0, 0, 0.596);
    }
  }
}
.X {
  background-color: $classic-red;
  color: $third-Color;
}
.O {
  background-color: $classic-blue;
  color: $third-Color;
}
.displayNames{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: $main-font;
  .p1Display{
    color: $classic-red;
  }
  .p2Display{
    color: $classic-blue;
  }
  
}
